body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, violet, orangered);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 50 px
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
   padding: 30px;
    background: rgba(255, 182, 193, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}


h1 {
    margin-bottom: 20px;
    color: black;
}

h1:hover {
    font-family: fantasy;
    color:orangered;
    margin-bottom: 50px;
    text-decoration: underline;

}

#status {
    padding: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#update-blink-rate{
   background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#blinkrate{
padding: 50 px;
margin-bottom: 20px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #45a049;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

#status {
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #45a049;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn:hover {
    background-color: #45a049;
}
