<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='terms.css') }}">
</head>
<body>
    <header class="header"><b>Terms and Conditions</b></header>
    <pre>
        1. Acceptance of Terms
    By downloading, installing, or using this software, you agree to be bound by these terms and conditions. If you do not agree, please do not use the software.

        2. Use of Software
    This software is designed to promote better ocular and musculoskeletal health by monitoring screen usage and promoting regular breaks and good posture. Use of this software is voluntary and at your own risk.

        3. License
    You are granted a non-exclusive, non-transferable, limited license to use the software. You may not modify, distribute, or reproduce the software.

        4. Privacy
    The software may use a camera to track eye movements and body posture. This data is processed in real-time and is not stored or shared with third parties. For more information on how your data is handled, please refer to our Privacy Policy.

        5. Disclaimer
    The software is provided "as is" without warranty of any kind, either express or implied. The developers are not responsible for any damages or health issues that may arise from the use of the software.

        6. Limitation of Liability
    In no event shall the developers be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use the software.

        7. Health Advice
    The software is not a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of a qualified health provider with any questions you may have regarding a medical condition.

        8. Updates and Modifications
    We reserve the right to update or modify these terms and conditions at any time. Your continued use of the software constitutes acceptance of the updated terms.

        9. Governing Law
    These terms and conditions are governed by and construed in accordance with the laws of , without regard to its conflict of law principles.

        10. Contact Information
    If you have any questions about these terms and conditions, please contact us at ].
    </pre>
</body>
</html>
